#game {
  background: rgb(229, 225, 225);
  width: min-content;
}
#lights {
  padding-top: 10px;
}
.header {
  flex: auto;
}
.controls {
  background: rgb(240, 238, 240);
  display: block;
  justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
}
.lit {
  background-color: #11dd11
}
.unlit {
  background-color: #778877
}
.light {
  display: display;
  height: 30px;
  width: 50px;
  margin: 2px;
  line-height: 0.8em;
}
.row {
  width: 300px;
  margin-left: 10px;
}
