#game {
  background: rgb(229, 225, 225);
  width: min-content;
  text-align: center;
}
#lights {
  padding-top: 10px;
}
#root {
  text-align: left;
}
.header {
  flex: auto;
  /* text-align: center; */
}
.controls {
  background: rgb(240, 238, 240);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:auto;
  padding-bottom: 10px;
}
.marker_selection {
  text-align: left;
}
.lit {
  background-color: #11dd11
}
.unlit {
  background-color: #778877
}
.light {
  display: display;
  height: 30px;
  width: 50px;
  margin: 2px;
  line-height: 0.8em;
}
.row {
  width: 300px;
}
